 <tr>
    <td>
        <%= post.id %>
    </td>
    <td>
        <%= "¥#{post.hourly_wage}" %>
    </td>
    <td>
        <%= post.updated_at %>
    </td>
    <td>
        <%= "#{post.elapsed_time}秒" %>
        <!-- 経過時間を表示させる -->
    </td>
    <td>
        <%= "¥#{post.price}" %>
    </td>
    <td>
        <%= post.description %>
    </td>
    <td>
</tr>