 <tr>
    <td class="d-none d-sm-table-cell">
        <%= post.id %>
    </td>
    <td>
        <%= "¥#{post.hourly_wage}" %>
    </td>
    <td>
        <%= post.updated_at.strftime("%Y %m/%d") %>
    </td>
    <td>
        <%= "#{(post.elapsed_time / 60) }分#{post.elapsed_time % 60}秒" %>
        <!-- 経過時間を表示させる -->
    </td>
    <td class="d-none d-sm-table-cell">
        <%= "¥#{post.price}" %>
    </td>
    <td>
        <%= post.description %>
    </td>
    <td>
         <%= link_to '', edit_post_path(post), id: "edit_#{post.id}", class: "fa fa-edit text-dark" %>
    </td>
    <td>
        <%= link_to '', post_path(post), method: :delete,
         id: "delete_post_#{post.id}_from_index", class: 'fa fa-trash text-dark', date: {confirm:"本当によろしいですか?"}%>
    </td>
</tr>