 <tr>
    <td class="d-none d-sm-table-cell">
        <%= post.id %>
    </td>
    <td>
        <%if post.status == "中断" %>
            <%= "作業計測中"%>
        <% elsif post.status == "開始" %>
            <%= "作業開始前"%>
        <% elsif post.status == "完了" %>
            <%= "¥#{post.hourly_wage.to_s(:delimited)}" %>
        <% else %>
            <%= "停止中"%>
        <% end %>
    </td>
    <td>
        <%= post.updated_at.strftime("%m/%d") %>
    </td>
    <td>
        <% if post.elapsed_time.nil?%>
            <%= "作業開始前" %>
        <% else %>
            <%= "#{post.elapsed_time / 60}分" %>
        <% end %>
    </td>
    <td class="d-none d-sm-table-cell">
        <%= "¥#{post.price.to_s(:delimited)}" %>
    </td>
    <td class="d-none d-sm-table-cell">
        <%= post.description %>
    </td>
    <td>
        <% if post.status == "開始"%>
            <%= link_to post.status, post_path(post),
                id: "#{post.id}", class: 'btn btn-primary btn-sm py-0' %>
        <%elsif post.status == "完了"%>
            <%= status_label post.status  %>
        <% elsif post.status == "再開" %>
            <%= link_to post.status, post_path(post),
                id: "#{post.id}", class: 'btn btn-secondary btn-sm py-0' %>
        <% elsif post.status == "中断"%>
            <%= link_to "再開", post_path(post),
                id: "#{post.id}", class: 'btn btn-warning btn-sm py-0' %>
        <% else %>
            <%= 'その他'%>
        <% end %>
    </td>
    <td class="d-none d-sm-table-cell">
         <%= link_to '', edit_post_path(post),
          id: "edit_#{post.id}", class: "fa fa-edit text-dark" %>
    </td>
    <td>
        <%= link_to '', post_path(post), method: :delete,
         id: "delete_post_#{post.id}_from_index", class: 'fa fa-trash text-dark', data: {confirm: "本当によろしいですか?"}%>
    </td>
</tr>