<div class="container">
    <div class="col-lg-auto">
    <% if @post.status == "途中" %>
        <h1 class="title">業務の再開</h1>
        <div class="contents_head">
            <h3>
                業務内容： <%= @post.description%>
            </h3>
            <h3>
                現在の経過時間：<%= "#{(@post.elapsed_time / 60) }分 #{(@post.elapsed_time % 60) }秒" %>
            </h3>
            <h3>
                報酬：<%= @post.price%>円
            </h3>

            <h1 class="c-title">タスクを再開しよう！</h1>
        </div>
        <div>
            <div class="stopwatch">
                <div id="clock2">00:00:00</div>
            </div>
            <div class="btn_field">
                <%= form_tag(start_time_post_path, method: :post, remote: true) do %>
                    <input type="submit" value="Start" style="width: 320px;" class="btn btn-primary btn-change" id="startbtn1">
                <% end %>
                <div id="stop-button"></div>
            </div>
        </div>
    <% else %>
        <h1 class="title">今回の業務</h1>
        <div class="contents_head">
            <h3>
                業務内容： <%= @post.description%>
            </h3>
            <h3>
                報酬：<%= @post.price%>円
            </h3>

            <h1 class="c-title">タスクを開始しよう！</h1>
        </div>
        <div>
            <div class="stopwatch">
                <div id="clock2">00:00:00</div>
            </div>
            <div class="btn_field">
                <%= form_tag(start_time_post_path, method: :post, remote: true) do %>
                    <input type="submit" value="Start" style="width: 320px;" class="btn btn-primary btn-change" id="startbtn1">
                <% end %>
                <div id="stop-button"></div>
            </div>
        </div>
    <% end %>
    </div>
</div>

<script>
    var sec = 0;
    var min = 0;
    var hour = 0;

    var timer;
    $(function () {
        // スタート
        $('#startbtn1').click(function() {
            // 00:00:00から開始
            sec = 0;
            min = 0;
            hour = 0;
            $('#clock').html('00:00:00');
            timer = setInterval(countup, 1000);
    });



    /**
    * カウントアップ
    */
    function countup()
    {
        sec += 1;

        if (sec > 59) {
        sec = 0;
        min += 1;
        }

        if (min > 59) {
        min = 0;
        hour += 1;
        }

        // 0埋め
        sec_number = ('0' + sec).slice(-2);
        min_number = ('0' + min).slice(-2);
        hour_number = ('0' + hour).slice(-2);

        $('#clock1').html(hour_number + ':' +  min_number + ':' + sec_number);
        $('#clock2').html(hour_number + ':' +  min_number + ':' + sec_number);
    }
    });
</script>

<script>
    $(function(){
        $('.btn-change').on('click', function(){
            $('input').hide();
            $(".c-title").text("仕事が終わったら終了を押してください");
            $('title').attr('id', 'clock1')
        });
       
    });
    
</script>

