<!DOCTYPE html>
<html>
  <head>
    <title>IncomeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>

  <body>
    <%= render 'shared/flash' %>
    <div class="container-fluid">
      <div class="row">
          <%= render 'shared/nav_bar'%>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
